<body>
<br/><br/><br/><br/>
<font size="5px"><center>Your MR No  :  &nbsp;&nbsp;<%= @mr_no %> </center><br/>
<font size="5px"><center>Your Name  :  &nbsp;&nbsp;<%= @pname %> </center><br/>
<center>Do You Want To Go To  Payments ? <a href="/appointment_payments/new?mr_no=<%= @mr_no %>">Yes</a>&nbsp;&nbsp;&nbsp; <a href="/registrations/new?">No</a> </center></font><br/>
<center>Do You Want To Go To  Admissions? <a href="/admissions/new?mr_no=<%= @mr_no %>">Yes</a>&nbsp;&nbsp;&nbsp; <a href="/registrations/new?">No</a> </center></font>
</body>
