<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Medieaz-Cloud Hospital Management System</title>
	<link rel="shortcut icon" href="images/Exleaz-E.png" type="image/png" size=32x52 />
</head>
<%= yield %>
</body>
</html>
